// Gruvbox colors:
$background-color: #282828;
$background-alt-color: #3c3836;
$font-color: #fbf1c7;
$font-alt-color: #ebdbb2;
$outer-border: #d5c4a1;
$inner-border: #928374;
$red-color: #cc241d;
$light-red-color: #fb4934;
$green-color: #98971a;
$light-green-color: #b8bb26;
$yellow-color: #d79921;
$light-yellow-color: #fabd2f;
$blue-color: #458588;
$light-blue-color: #83a598;
$purple-color: #b16286;
$light-purple-color: #d3869b;
$aqua-color: #689d6a;
$light-aqua-color: #8ec07c;