// Nav 'buttons'
#selections{ 
    display: flex;
    justify-content: space-between;
    margin-top: $margin-pad-sizing;
  }
  #articles{ @include sectionButton($red-color, $light-red-color) }
  #frontend{ @include sectionButton($purple-color, $light-purple-color) }
  #backend{ @include sectionButton($blue-color, $light-blue-color) }
  #fullstack{ @include sectionButton($aqua-color, $light-aqua-color) 