// @import 'CSS/SCSS/colors.scss';
@import 'CSS/SCSS/sizings';

// Not visible until the .content section
// is .collapsed
.article-repo{
  h1{ margin: $margin-pad-sizing 0; }
  p{line-height: $margin-pad-sizing*1.5; }

  margin-bottom: $margin-pad-sizing*4;

  .repo-title-links p{
    width: $container-width/10;
    display: inline-block;
  }

  .repo-description{
    margin: 0px;
    line-height: $margin-pad-sizing*1.5;
  }
}

.article-repo{ animation: fade-in 2.5s forwards;}