@use 'CSS/SCSS/colors';
@use 'CSS/SCSS/sizings';
@use 'CSS/SCSS/fonts';

@use 'CSS/SCSS/mixins';
@use 'CSS/SCSS/keyframes';

@use 'CSS/SCSS/main-containers';
@use 'CSS/SCSS/double-border';

@use 'CSS/SCSS/name-card';
@use 'CSS/SCSS/nav-buttons';
@use 'CSS/SCSS/main-content';
@use 'CSS/SCSS/hobbies';
@use 'CSS/SCSS/social-media-card';

// Overall styling:
* { box-sizing:border-box; }

body{ 
    background-color: $background-color; 
    color: $font-color 
}

//Everything visible is inside this container:
.container {
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    width: $container-width;
    margin: 0 auto;
    // we're required to set height explicitly
    height: $container-height;
}

h1{ 
    @include font-fam-size($title-font, $title-font-size/1.25);
}