// This is the section that expands:
.content{
    @include bg-border($background-color, $outer-border);
    @include font-fam-size($body-font, $body-font-size);

    line-height: $margin-pad-sizing/2;
    margin: $margin-pad-sizing 0;
    overflow: hidden;
    flex: 3;
}

.content.collapsed{
    // iOS browsers:
    ::-webkit-scrollbar {
      background: transparent;
      width: 9px;
    }

    ::-webkit-scrollbar-track { 
      background: transparent; 
    }

    ::-webkit-scrollbar-thumb {
      -webkit-border-radius: 5px;
      background:$background-alt-color;
    }

    ::-webkit-scrollbar-track-piece:start { 
      // Makes all the difference
      margin-top: 1.5px; 
    }

    // Firefox:
    // Which is much, much easier.
    scrollbar-color: $background-alt-color $background-color;
    scrollbar-width: thin;

    .double-border{ 
      overflow-y: scroll;
      overflow-x: hidden;
    }
  }